.header {
    font-family: "roboto";
    font-size: 4em;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    min-height: 100px;
}

.row {
    background-color: #333;
}

.urls {
    font-size: .5em;
    margin-bottom: 30px;
    font-family: "roboto";
    color: whitesmoke;
}

.btn {
    border-radius: 0px !important;
}

a {
    text-decoration: none !important;
}